### Importig the libraries

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor

### Importing the dataset

In [2]:
df = pd.read_csv('Position_Salaries.csv')

In [3]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

### Split the data

In [4]:
X = df.iloc[:,1:-1].values

y = df.iloc[:,-1].values

### Fit the model

In [5]:
rf = RandomForestRegressor(n_estimators=10,random_state=0)

rf.fit(X,y)

RandomForestRegressor(n_estimators=10, random_state=0)

### Make prediction using the model

In [6]:
rf.predict([[6.5]])

array([167000.])