### Importing the libraries

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder

from sklearn.tree import DecisionTreeRegressor

### Importing the dataset

In [2]:
df = pd.read_csv('Position_Salaries.csv')

df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

### Splitting the data

In [3]:
X = df.iloc[:,1:-1].values

y = df.iloc[:,-1].values

### Fit the model

In [4]:
dt = DecisionTreeRegressor(random_state=0)

dt.fit(X,y)

DecisionTreeRegressor(random_state=0)

### Model prediction

In [5]:
dt.predict([[6.5]])

array([150000.])